@import url('https://fonts.googleapis.com/css?family=Josefin+Sans|Ubuntu&display=swap');

.title {
  font-family: 'Josefin Sans', sans-serif;
}

p {
  font-family: 'Ubuntu', sans-serif;
  font-size: 18px;
}
